<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-title>Inicio de sesión</ion-card-title>
    <ion-card-content>
      <ion-grid>
        <ion-col>
          <ion-item>
            <ion-label position="floating" name="user">Ingrese su usuario</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating" minlength="4" type="password" name="password">Ingrese su contraseña</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
</ion-content>
